<div class="row pt-2">
  <div class="col-md-9">
      <div class="row">
        <% @contents.each do |content| %>
          <div class="col-md-12">
            <div class="card mb-2">
              <div class="card-body">
                <h4><%= content.title %>
                  <div class="badge badge-primary">
                    <%= content.category.name %>
                  </div>
                </h4>
                <p><%= content.body %></p>
                <p class="text-muted">Published on <%= content.created_at.strftime("%B, %d, %Y") %> by 
                  <% if content.user.name? %>
                    <%= content.user.name %>
                  <% else %>
                    <%= content.user.email %>
                  <% end %>
                </p>
                <%= link_to "See Full Content", content %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <div class="col-md-3">
    <div class="list-group">
      <% Category.all.each do |category| %>
        <button type="button" class="list-group-item list-group-item-action">
          <%= link_to category.name,contents_path(category: category.name) %>
        </button>
      <% end %>
    </div>
  </div>
</div>
